version: "3.9"

services:
  bot:
    build:
      context: .
      dockerfile: bot_config/Dockerfile
    container_name: aiogram_bot
    restart: always
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - .:/app
    command: ["python", "-m", "bot_config.bot_setting"]
    networks:
      - my_network

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    networks:
      - my_network

volumes:
  postgres_data:

networks:
  my_network:
